/**
 * Add any custom CSS here.
 *
 * This file will be loaded after all other theme stylesheets.
 */

.site-header {
    background-color: #6495ED;
    border-bottom: 3px inset #6b5b95;
    box-shadow: 0 0 12px 2px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0 0 12px 2px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 12px 2px rgba(0,0,0,0.7);
}
.site-header, .secondary-navigation ul ul, .main-navigation ul.menu > li.menu-item-has-children::after, .secondary-navigation ul.menu ul, .storefront-handheld-footer-bar, .storefront-handheld-footer-bar ul li > a, .storefront-handheld-footer-bar ul li.search .site-search, button.menu-toggle, button.menu-toggle:hover{
    background-color: #6b5b95;
}
@media (min-width: 768px) {

    .storefront-secondary-navigation.woocommerce-active .site-header .secondary-navigation{
        width: 100%;
        float: right;
        margin: 0;
    }
    .storefront-primary-navigation
    {
        display: none;
    }
    .woocommerce-active .site-header .site-branding {
        width: 30%;
        margin-right: 0;
    }
    .woocommerce-active .site-header .site-search {
        width: 20%;
        padding-top: 1.68em ;
    }
    .site-header {
        background-color: #c0cfff;
        border-bottom: 3px inset #6b5b95;
        box-shadow: 0 0 12px 2px rgba(0,0,0,0.7);
        -webkit-box-shadow: 0 0 12px 2px rgba(0,0,0,0.7);
        -moz-box-shadow: 0 0 12px 2px rgba(0,0,0,0.7);
    }
    .site-header .boniyas-main-navigation{
        display: block;
        max-width: 50%;
        max-height: 100px;
        margin-top: 2.38em;
        float: left;
        overflow: hidden;
    }
    .boniyas-main-navigation ul {
        margin: 0;
        padding: 0;
    }
    .boniyas-main-navigation .menu > li {
        position: static;
        display: inline-block;
        border: 2px solid #6b5b95;
        border-bottom: none;
        border-radius: 8px 8px 0 0 ;
        -webkit-border-top-right-radius: 8px 8px;
        -webkit-border-top-left-radius: 8px 8px;
        -moz-border-radius-topleft: 8px 8px;
        -moz-border-radius-topright: 8px 8px;
        line-height: 44px;
        box-shadow: 0 -12px 12px -12px rgba(0,0,0,0.7) inset;
        -webkit-box-shadow: 0 -12px 12px -12px rgba(0,0,0,0.7) inset;
        -moz-box-shadow: 0 -12px 12px -12px rgba(0,0,0,0.7) inset;
    }
    .boniyas-main-navigation .menu .current-menu-item,
    .boniyas-main-navigation .menu .current-menu-parent,
    .boniyas-main-navigation .menu .current_page_parent{
        background: #6b5b95;
        box-shadow: none;
        /* Prevent background color leak outs */
        -webkit-background-clip: padding-box;
        -moz-background-clip:    padding;
        background-clip:         padding-box;

    }
    .boniyas-main-navigation .menu .menu-item-has-children.current-menu-item,
    .boniyas-main-navigation .menu .menu-item-has-children.current-menu-parent {
        margin-bottom: 48px;
    }
    .boniyas-main-navigation .current-menu-item > ul,
    .boniyas-main-navigation .current-menu-parent > ul{
        display: block;
        text-align: center;
        left: 0;
        right: 0;
    }

    .boniyas-main-navigation .current-menu-item > ul >li,
    .boniyas-main-navigation .current-menu-parent > ul >li {
        display: inline-block;
    }

    .boniyas-main-navigation .sub-menu li{
        position: static;
    }

    .boniyas-main-navigation a{
        display: block;
        padding: .168em 1.68em;
        text-align: center;
        text-decoration: none;
    }

    .boniyas-main-navigation .sub-menu{
        display: none;
        position: absolute;
        background-color: #6b5b95;
    }
    /*
    Clear Fixes
     */
    .boniyas-main-navigation .sub-menu:before{
        content: " ";
        background: #6b5b95;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        right: 100%;
    }
    .boniyas-main-navigation .sub-menu:after{
        content: " ";
        background: #6b5b95;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        left: 100%;
    }
    .boniyas-main-navigation a:hover,
    .boniyas-main-navigation .current-menu-item > a,
    .boniyas-main-navigation .current-menu-parent > a {
        background-color: #6b5b95;
        color: #ffffff !important;
    }

    .secondary-navigation a:hover,
    .secondary-navigation .current-menu-item > a,
    .secondary-navigation .current-menu-parent > a {
        background: #6b5b95;
        color: #ffffff !important;
        box-shadow: none;
    }

    .single-product-form .woocommerce-billing-fields {
        width: 75%;
        position: absolute;
        bottom: 0;
        float: left;
    }

    .single-product-form .woocommerce-checkout-payment {
        width:25%;
        position: relative;
        float: right;
    }

    .single-product-form .woocommerce-billing-fields .form-row {
        width: 33%;
        float: left;
        clear: right;
        padding-right: 1em;
        margin: 0;
    }


    .single-product-form .woocommerce-terms-and-conditions {
        max-width: 87vw;
        width: 1024px;
        float: right;
    }
    .woocommerce-billing-fields__field-wrapper::after {
        content: "";
        display: block;
        clear: both;
    }

    #ship-to-different-address .woocommerce-form__input-checkbox {
        visibility: hidden;
    }

    #ship-to-different-address .woocommerce-form__label-for-checkbox:before {
        content: "\f067";
        font-family: FontAwesome;
        top: 0;
    }

    /*
        Style sticky checkout
         */

    .storefront-sticky-add-to-cart__content-boniyas-checkout .woocommerce-checkout{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .storefront-sticky-add-to-cart__content-boniyas-checkout .woocommerce-billing-fields__field-wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .storefront-sticky-add-to-cart__content-boniyas-checkout .woocommerce-billing-fields .form-row{
        padding: 0 .618em;
        margin: 0;
    }

    .storefront-sticky-add-to-cart__content-boniyas-checkout .checkout-header,
    .storefront-sticky-add-to-cart__content-boniyas-checkout #billing_company_field,
    .storefront-sticky-add-to-cart__content-boniyas-checkout .woocommerce-shipping-fields,
    .storefront-sticky-add-to-cart__content-boniyas-checkout .woocommerce-additional-fields,
    .storefront-sticky-add-to-cart__content-boniyas-checkout .woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout
    {
        display: none;
    }


}



/*
 * Custom Homepage style
 */

.page-template-template-homepage:not(.has-post-thumbnail) .site-main{
    padding-top: 0;
}

.page-template-template-homepage .entry-content, .page-template-template-homepage .entry-header {
    color: #fff;
}

/*
    To add a full width image with centered text
 */
div.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-bottom: 1.68em;
    transition: all .5s ease-in-out;
}
div.full-width .product {
    transition: all .2s ease-in-out;
}
div.full-width .product:hover {
    transform: scale(1.168);
    box-shadow: 0 0 12px 2px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0 0 12px 2px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 12px 2px rgba(0,0,0,0.7);
}
#main > div.full-width .product:hover{
    transform: scale(1,1);
}
div.full-width{
    background-size: cover;
    background-position: center center;
}
div.full-width .product,
div.has-post-thumbnail .full-width,
div.full-width .entry-header,
.storefront-full-width-content .woocommerce-products-header, .storefront-full-width-content.woocommerce-account .entry-header, .storefront-full-width-content.woocommerce-cart .entry-header, .storefront-full-width-content.woocommerce-checkout .entry-header
{
    text-align: center;
    min-height: 40vh;
    color: #fff;
    background-size: cover;
    background-position: center center;
    padding: 6.18em 1.618em 1.618em;
}
div.full-width::before{
    content: "";
    display: block;
    clear:  both;
}
div.full-width::after{
    content: "";
    display: block;
    clear:  both;
}

.boniyas-main-navigation{
    display: none;
}

.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-title,
.entry-title,
.entry-header h1{
    font-weight: 800;
    color: #fff;
}
.storefront-product-section .section-title {
    text-align: center;
    margin-bottom: 1.681em;
    font-weight: 600;
}
#single-product-checkout h3 {
    font-weight: 700;
    color: #fff;
}

section > h2 {
    text-align: center;
    margin-bottom: 1.681em;
    font-weight: 600;
}

.storefront-full-width-content.single-product .related ul.products li.product, .storefront-full-width-content.single-product .upsells ul.products li.product {
    width: 100%;
    float: left;
    margin-right: 0;
}

ul.products li.product .woocommerce-loop-product__title, ul.products li.product h2, ul.products li.product h3 {
    font-size: 1.681em;
    font-weight: 800;
    margin-bottom: .618em;
}
.added_to_cart, .button, button, input[type="button"], input[type="reset"], input[type="submit"] {
    padding: 0.168em 1.68em;
    border-radius: 4px;
}

ul.products li.product .button {
    margin-bottom: 1.618em;
    padding: .618em 1.618em;
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
    border-radius: 4px;
}
ul.products li.product .button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #9FD0D5;
}

ul.products li.product .woocommerce-LoopProduct-link{
    color: #fff;
    font-size: 1.618em;
}
ul.products li.product .woocommerce-LoopProduct-link h2{
    color: #fff;
}

/*
Updated custom checkout

 */


.input-text, input[type="email"], input[type="password"], input[type="search"], input[type="text"], input[type="url"], textarea {
    padding: .618em;
    background-color: rgba(0, 0, 0, 0.25);;
    color: #ffffff;
    outline: 0;
    border: 2px;
    border-radius: 4px;
    -moz-border-radius: 2px;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-weight: 400;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.125);

}

.single-product-form .woocommerce-terms-and-conditions {
    max-width: 87vw;
    width: 1024px;
    float: right;
}

/*
Icons for Handheld bar

https://docs.woocommerce.com/document/customize-the-links-in-the-handheld-footer-bar/
 */

.storefront-handheld-footer-bar ul li.home > a:before {
    content: "\f015";
}

.storefront-handheld-footer-bar ul li.request > a:before {
    content: "\f0e0";
}

/*
Form Css
 */

#payment .place-order{
    margin: 0;
    padding: 0;
    position: center;
    bottom: 0;
    background-color: transparent;
}

.single-product-form{
    position: relative;
    padding: 0 .168em;
}

.single-product-form .woocommerce-additional-fields,
.single-product-form .woocommerce-shipping-fields,
.shop_table.woocommerce-checkout-review-order-table,
.woocommerce-order-details,
.single-product-form .shop_table,
.payment_methods
{
    display: none !important;
}

.single-product-form #payment .terms.wc-terms-and-conditions,
.storefront-sticky-add-to-cart #payment .terms.wc-terms-and-conditions,
.storefront-sticky-add-to-cart form {
    margin: 0;
}
.woocommerce-billing-fields::after{
    content: "";
    display: block;
    clear: both;
}

.woocommerce-shipping-fields{
    margin-top: 1.68em;
}

